<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>great story</title>
</head>
<body>
    <p>One of the best known and most tragic love stories, that of Romeo and Juliet, is set in medieval Verona. Although William Shakespeare, who wrote the story in 1597, never went to Verona himself he made city the centre of his story and gave Verona a legacy that can be perceived throughout the city even today.</p>
</body>
</html>